body{
    background: url(./images/maths.jpg);
}
.container{
   padding-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "dis dis dis dis"
    "AC C div times"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}
.padButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}
.padButton:hover{
    border: 1px solid white;
    color: #ccc;
}
.zero{
    grid-area: zero;
}
.equal{
    grid-area: equal;
}
.dis{
    grid-area: dis;
    background-color: black;
    text-align: right;
    font-size: 28px;
    padding:0 10px;
    
   
}
.dis input{
    padding: 5px 3px 5px 0 ;
    width: 100%;
    text-align: right;
    color: rgb(238, 161, 18);
    background-color: black;
    font-size: 18px;
}
input::placeholder{
    color: white;
}
.dark-grey{
    background-color:#333;
}
.tomato{
    background-color: tomato;
}
.blue{
    background-color: #093a75;
}
.total{
    padding: 5px 10px;
    color:rgb(19, 221, 221);
    font-size: 30px;
}